.a11yHidden,
legend {
  background-color: red;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.linkList {
  display: flex;
  flex-shrink: 0;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  line-height: 150%;
  position: relative;
  color: var(--gray-400);
  font-weight: 600;
  font-size: var(--text-md);
}

.newBadge {
  position: absolute;
  top: var(--spacing-xs);
  right: -1rem;
}

.linkList::after {
  content: '';
  display: inline-b lock;
  width: 0.0938rem;
  height: 1rem;
  background-color: var(--gray-200);
  position: absolute;
  top: 1.0625rem;
  right: 5.375rem;
}
